<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>DMSerifDisplay-Regular.ttf</string>
		<string>Quicksand-Regular.ttf</string>
		<string>Quicksand-SemiBold.ttf</string>
		<string>Quicksand-Bold.ttf</string>
		<string>Jasmine_Unicode.ttf</string>
		<string>MyanmarSquare.ttf</string>
		<string>YoeYar-One.ttf</string>
	</array>
</dict>
</plist>
